.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 85vh;
    overflow-y: auto;
    width: 100%;
}

.booking-assignment-table {
    width: 100%;
    border-collapse: collapse;
}

.booking-assignment-table th,
.booking-assignment-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    font-size: 1.3rem;
}

.booking-assignment-table th {
    background-color: #9dbfe0;
    font-weight: bold;
}

.check-icon {
    color: rgb(39, 129, 92);
    cursor: pointer;
}

.delete-icon {
    color: red;
    cursor: pointer;
}
